      body {
        margin: 5em;
        background-image: url(./images/background.png);
      }
      h1 {
        color: #00FA9A;
        text-align: center;
        font-size: 3em;
        -webkit-text-stroke: 2px black;
        font-family: cursive;
      }
      button {
        font-family: cursive;
        margin-top: 4em;
        font-size: 1.5em;
        cursor: pointer;
        
      }
      .btn {
        display: block;
        margin-right: auto;
        margin-left: auto;
        width: 360px;
        height: 60px;
        background-color: #00FF7F;
      }
      p {
        font-family: cursive;
        text-align: center;
        margin-top: 4em;
        font-size: 1.7em;
        -webkit-text-stroke: 0.1px white;
      }
      a {
        font-family: cursive;
        font-size: 1.2em;       
      }
      .aboba {
        margin-top: 3em;
      }
      .hide {
        display: none; 
      }
      .hide + label ~ div{
        display: none;
      }
       /*оформление "наш состав"*/
      .hide + label {              
        color: #00FA9A;
        cursor: pointer;
        display: inline-block;
        font-size: 2em;
        font-family: cursive;
        text-align: center;
        -webkit-text-stroke: 1.3px black;
        margin-top: 2em;
      }
      .hide:checked + label {
        color: #808000;
      }
      .hide:checked + label + div {
        display: block;
        background: #E0FFFF;               
        font-size: 1,7em;
        font-family: cursive;
      }
      .demo {
        text-align: center;
      }
      h2 {
        color: #00FA9A;
        text-align: center;
        margin-top: 3em;
        font-size: 2em;
        -webkit-text-stroke: 1.7px black;
        font-family: cursive;
      }
      p2 {
        font-family: cursive;
        text-align: center;   /*!!!!yt hf,jnftbn*/
        margin-top: 4em;
        font-size: 1.4em;
        -webkit-text-stroke: 0.1px white;
      }
      p3 {
        font-family: cursive;
        text-align: center;   /*!!!!yt hf,jnftbn*/
        margin-top: 4em;
        font-size: 1.4em;
        -webkit-text-stroke: 0.1px white;
     }
      h3 {
        color: #00FA9A;
        text-align: center;
        font-size: 2em;
        -webkit-text-stroke: 1.7px black;
        font-family: cursive;
     }
